.payment-screen .paymentmethods .fa-cutlery{
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin-top: -25px;
    font-size: 20px;
    border-radius: 26px;
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.4);
}